@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: Mooli, san-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
}
header {
  text-align: center;
  a {
    display: block;
  }
}

header,
footer {
  background-color: var(--primary-color);
  color: white;
}

main {
  background-color: var(--text-light);

  h2 {
    text-align: center;
  }
}

button {
  all: unset;
}

a:link,
a:visited {
  color: var(--text-light);
}

.gallery img {
  max-width: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
  border: 5px solid white;
  box-shadow: 2px 2px 2px var(--text-dark);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
}

.class {
  display: none;
}

@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  header {
    a {
      display: none;
    }
  }
}
@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  header {
    a {
      display: inline;
    }
  }
}
