@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
:root {
  --headline: #af1b3f;
  --link: #af1b3f;
  --gold: #efc69b;
  --dark: #473133;
  --border: #832329;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--dark);
}

h1 {
  color: var(--dark);
  font-family: "Lora", serif;
  text-align: center;
  padding: 2rem;
}
h2 {
  font-family: "Lora", serif;
  color: var(--headline);
}

a {
  color: var(--link);
  font-size: 1.25rem;
}

nav {
  /* padding: 0.75rem 4rem; */
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

nav > ul {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  justify-content: end;
  justify-items: end;
  list-style-type: none;
  max-width: 90%;
}

main {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 1rem 2rem;
}

.book {
  min-width: 380px;
  display: grid;
  grid-template-columns: 20% 1fr;
}

.book-image {
  display: block;
  justify-self: center;
}

.filter-section {
  min-width: 150px;
  border: 1px solid var(--border);
}
